<%= will_paginate @fees %>
<table class="fees">
  <thead>
    <tr>
      <th style="width: 90%;">From Account</th>
      <% if params[:action] == 'unpaired' %>
      <th style="width: 2%;">VS</th>      
      <% end %>
      <th style="width: 2%;">Month&nbsp;/&nbsp;Year</th>
      <th style="width: 2%;">Amount</th>
    </tr>
  </thead>
  <tbody>    
  <%= render :partial => 'fee', :collection => @fees %>
  </tbody>
</table>