<% content_for :body_content_left do %>
  <section>
    <%= collection_select :fee, :user_id, User.where('progressbar_uid IS NOT NULL'), :id, :identifications %>
  </section>
<% end %>

<%= render :partial => "/shared/content_page" %>
